{% extends "storeapp/base.html" %}
{% load static %}
{% block title %}Reset Password Complete{% endblock title %}

{% block main-content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <style>
        /* Style the container for the iframe */
        .iframe-container {
            position: relative;
            width: 100%;
            padding-top: 56.25%; /* 16:9 aspect ratio (change this value based on your iframe's aspect ratio) */
        }

        /* Style the tick (checkmark) icon */
        .tick-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 4em; /* Adjust the size of the icon */
            color: #00cc00; /* Green color for approval */
        }
    </style>
<div class='container'>
    <div class='col-sm-6 offset-sm-3'>
        <h3 class'text-center'>Reset Password Completed</h3>
        <hr>
        <div class="iframe-container">
                                
            <!-- Add the tick (checkmark) icon for approval -->
            <i class="fas fa-check-circle tick-icon"></i>
        </div>
        <div class='col-12 mt-3 text-center'>
            <a href="{% url "login" %}" class="btn btn-primary">Login</a> <br><br><br/>
        </div>
    </div>
</div>
{% endblock main-content %}