{% extends "storeapp/base.html" %}
{% load static %}
{% block title %}Change Password Done{% endblock title %}

{% block main-content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <style>
        /* Style the container for the iframe */
        .iframe-container {
            position: relative;
            width: 100%;
            padding-top: 56.25%; /* 16:9 aspect ratio (change this value based on your iframe's aspect ratio) */
        }

        /* Style the tick (checkmark) icon */
        .tick-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 4em; /* Adjust the size of the icon */
            color: #00cc00; /* Green color for approval */
        }
    </style>
<div class='container my-5'>
    <div class='row'>
        <h3 class='text-center'>Welcome {{ request.user.username|capfirst }}</h3>
        <div class='col-sm-2 border-end'>
            <ul class='list-unstyled'>
                <li class='d-grid'><a href='#' class='btn btn-primary'>Change Password Done</a></li>
            </ul>
        </div>
        <div class='col-sm-9 offset-sm-1 text-center'>
            <h3>Password Changed Successfully !!!</h3>
            <div class="iframe-container">
                                
                <!-- Add the tick (checkmark) icon for approval -->
                <i class="fas fa-check-circle tick-icon"></i>
            </div>
            <div class='col-12 mt-3'>
                <a href="/" class="btn btn-primary">Home</a>
            </div>
        </div>
    </div>
</div>


{% endblock main-content %}


